@import '../../../variables.scss';
.container {
    @include flexbox(row);
    overflow: hidden;
    .iconContainer {
        margin: 0 1rem;
        @include flexbox(row);
        @include flexbox-center();
        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=url],
    input[type=search] {
        flex-grow: 1;
        font-size: 1rem;
        appearance: none;
        color: white;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none;
        border-bottom: solid 1px rgba(255, 255, 255, 0.3);
        background: transparent;
        border-radius: 0;
        outline: none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        transition: all ease-in-out 300ms;
        &:focus {
            border-bottom: solid 1px rgba(255, 255, 255, 0.9);
        }
    }
}